---
title: Posts
kind: page
---

.hero-unit
  %h1
    The posts list
  %p
    This is the whole blog's posts archive. Enjoy read your preferred articles.

-sorted_articles.each do |post|
  .row
    .span15
      %a{:href=>"#{route_path(post)}", :title=>"Full article"}
        %h2
          = post[:title]
      .meta
        = pretty_time(post[:created_at])
        .clearfix
        = render('_meta', :item=>post, :disable_reaction=>true, :show_lang=>true)
      %p
        =post[:excerpt]
      %p
        %a.btn{:href=>"#{route_path(post)}", :title=>"Full article"}
          Read the article &raquo;
