---
---
:ruby
  # may be set by partials
  @config[:include_disqus_js] = false

  def keywords
    if is_front_page?
      tag_set.join(', ') 
    else
      tags = @item[:tags].nil? ? '' : @item[:tags].join(', ') 
      keywords = @item[:keywords] || ''
      [keywords, tags].join(', ')
    end
  end

  def link_unless_current(s)
    if @item.identifier != "/#{s}/" 
      "<li><a href='/#{s}.html'>#{s}</a></li>"   
    else
      "<li><a href='/#{s}.html' class='inactive'>#{s}</a></li>"   
    end
  end
  
  def logo
    "<a href='/'><img src='"+gravatar_img+"' class='avatar'/></a>"
  end

!!! 5
%html
  %head
    %title= "#{@item[:title]} - thesp0nge.com"
    %link{:href=>'/css/style.css', :rel=>'stylesheet' }
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")


    %link{:href=>'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Copse', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Neucha', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Inconsolata', :rel=>'stylesheet', :type=>'text/css'}
 
  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    #main
      %header 
        = logo
        #me
          %a{:href=>"/"}
            %span#paolo
              Paolo
            %span#perego
              Perego 
        #mousing
          &nbsp;

        .site
          %a{:href=>'https://github.com/thesp0nge', :id=>'github'}
            %img{:src=>'/images/github.png', :alt=>'github', :title=>'@thesp0nge github archive', :height=>'16', :width=>'16'}
          %a{:href=>'http://twitter.com/thesp0nge', :id=>'twitter'}
            %img{:src=>'/images/twitter.png', :alt=>'twitter', :title=>'@thesp0nge twitter timeli', :height=>'16', :width=>'16'}
          %a{:href=>'http://feeds.feedburner.com/Thesp0ngecomAtomFeed', :id=>'rss'}
            %img{:src=>'/images/rss.png', :alt=>'rss', :title=>'Subscribe to this blog\'s RSS feed', :height=>'16', :width=>'16'}
          %a{:href=>"http://feeds.feedburner.com/Thesp0ngecomAtomFeed"}
            %img{:src=>"http://feeds.feedburner.com/~fc/Thesp0ngecomAtomFeed?bg=da3d26&amp;fg=FFFFFF&amp;anim=0", :height=>"26", :width=>"88", :style=>"border:0", :alt=>""}
        %nav
          != link_unless_current "about"
          != link_unless_current "startup"
          != link_unless_current "puzzle"
          !=# link_unless_current "talks"

      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        .clear
        - if disqus_shortname && !is_front_page?
          = render('_disqus', :item => @item)
      - elsif @item[:kind] == 'startup'
        =render('_startup', :item=>@item, :content => content)
        .clear
        - if disqus_shortname && !is_front_page?
          = render('_disqus', :item => @item)
      - else
        = content
      .clear

      -# disqus: inserts number of commments     
      - if @config[:include_disqus_js] == true
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        })();
			
      = render('_ganalytics')
